{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<style>

  </style>


<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign In" %}</h3>

      <p>{% blocktrans %}Welcome back to the <span class="brand">C<span class="red-o">o</span>mp<span class="pink-a">a</span>ny<span
        class="thin">logo.</span></span></span> To leave a comment or like a post, please log in. If you
        have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="login-page" >
    <div class="form">
      <form class="login-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "LOGIN" %}</button>
        <p class="message">Not registered? <a href="{{ signup_url }}">Create an account</a></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}