{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup_form.css' %}">
<style>
    .signup-contain {
    margin: 0 auto;
    background-color: #312E38;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
    }
    .signup-bg-page {
    background-image: url("https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678581721/DSC_0988_drmjzk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-decoration: none;
    }
    .gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
</style>
<section class="signup-bg-page vh-100 bg-imagevh-100 bg-image">
    <div class="row d-flex p-5">
        <div class="text-center m-auto p-5 col-sm-8 col-nd-6 my-3 offset-sm-2 offset-md-3 form-container">
            <h1 class="text-white bookings-title mb-4 text-font">Create an account</h1>
            <div class="card-body card rouded m-2 shadow-sm border-0 form-card signup-contain">
                <div class="p-3 blog-card tex-white form-card-body">
                    <form class="create-post-form text-white" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <div class="d-flex justify-content-center">
                            {% endif %}
                            <input class="text-font btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="SIGNUP">
                        </div>
                    </form>
                    <p class="text-center mt-5 mb-5 text-white text-font">Have already an account? <a href="{{ login_url }}"
                        class="text-font btn btn-outline-warning">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}