{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans "Signup" %}
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/signup_form.css' %}">
<section id="background" class="signup-bg-page vh-100 bg-imagevh-100 bg-image m-auto">
    <div class="row d-flex">
        <div class="text-center m-auto col-sm-8 col-nd-6 my-3 offset-sm-2 offset-md-3 form-container">
            <h1 class="text-white bookings-title mb-4 text-font"><span class="text-font">C<span class="red-o text-font">r</span><span class="text-primary text-font">e</span>a<span class="pink-a text-font">t</span><span class="text-warning text-font">e</span><span class="text-info text-font"> a</span>n<span class="thin text-font"> account</span></span></h1>
            <div class="card-body card rouded m-2 shadow-sm border-0 form-card signup-contain">
                <div class="p-3 blog-card tex-white form-card-body">
                    <form class="create-post-form text-white" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <div class="d-flex justify-content-center">
                            {% endif %}
                            <input class="text-font btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="SIGNUP">
                        </div>
                    </form>
                    <p class="text-center mt-5 mb-5 text-white text-font">Have already an account? <a href="{{ login_url }}"
                        class="text-font btn btn-outline-warning">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}