/* .booknow-page {
    background-image: url("https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678617023/DSC_1033_kcoo6m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */


#background {
	padding: 10em 0;
	margin-bottom: 0;
	background: url('https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678892219/DSC_0076_ozv1up.jpg') center center / cover no-repeat fixed;
    min-height: 80vh;
}


.booknow-contain {
    margin: 0 auto;
    background-color: #312E38;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
}