.change-form {
    border: 1px solid #6c757d;
    border-radius: 5px;
}
.change-booking-page {
    background-image: url("https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678618157/DSC_0951_hezir5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-decoration: none;
    min-height: 80vh;
}
.change-booking-contain {
    margin: 0 auto 20px;
    background-color: #312E38;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
}
