#background {
    padding: 4em 0;
    margin-bottom: 0;
    background: url('https://res.cloudinary.com/dvbhrs1gf/image/upload/v1679410568/DSC_00112_qslfd6.jpg') center center / cover no-repeat fixed;
    min-height: 80vh;
}
.elementor {
    color: #FFF;
    font-family: "Crimson Text",Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.2em;
    letter-spacing: .2px;
    font-size: medium;
}
.button-wrapper {
    color: red;
}
.text-font {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}
.border-dark {
    border-color: #212529!important;
    margin: 2vh;
    background-color: white;
    opacity: 0.5;
    border-radius: 5px;
    max-width: fit-content;
    display: inline-block;
}
.text-dark {
    color: #212529!important;
    margin: 2vh;
}
.padding {
    padding: 5px;
}
.contact-contain {
    margin: 0 auto;
    background-color: #312E38;
    opacity: 0.6;
    border: 1px solid #6c757d;
    border-radius: 5px;
    margin: 2vh;
    max-width: fit-content;
    display: inline-block;
}
