.memory {
	color: black;
}

#background {
	padding: 10em 0;
	margin-bottom: 0;
	background: url('https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678100381/static/images/fish.376333e24643.jpg') center center / cover no-repeat fixed;
}

.i-in {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.elementor {
    color: #FFF;
    font-family: "Crimson Text",Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.2em;
    letter-spacing: .2px;
}

.button-wrapper{
  display: flex;	
  justify-content: center;	
}

.text-font {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

