.create-post-bg-page {
    background-image: url("https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678618469/DSC_1040_pq1tkj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-decoration: none;
    min-height: 80vh;
}

.create-post-contain {
    margin: 0 auto;
    background-color: #312E38;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
}