#background {
	padding: 10em 0;
	margin-bottom: 0;
	background: url('https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678884135/DSC_0907_umnk6u.jpg') center center / cover no-repeat fixed;
  min-height: 75vh;
}
    .booknow-contain {
    margin: 0 auto;
    background-color: #312E38;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
    width: auto;
}