{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<section id="background">
    <div class="col about-page p-5">
        <div class="row">
            <div class="col-md-4 card card-body">            
                <div class="p-3 mb-5 bg-dark text-white">
                    <h2><span class="text-font text-black">About</span></h2>
                    <p class="card-text">
                    <p class="text-font text-black">OUR MISSION STATEMENT</p>
                    <p class="text-font">Shutter Fever Photography is a professional, full service photography studio based in Charlestown, Co Mayo.
                    We thrive on creating beautiful visual imagery – whether for a wedding couple, commercial brand or photograph for the walls of a family home, we are constantly driven to create the next amazing image to delight our clients.
                    A family run Mayo business, we have a keen appreciation for what photography is all about. Our work is constantly evolving, but that timeless significance of quality photography is not lost – capturing memories, one click at a time.
                    </p></p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}