{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div id="background">
    <!-- <div class="col about-page"> -->
        <div class="row card card-body pt-5">
            <div class="col-md-4">
                <h2><span class="text-font"> About :</span></h2>
                <p class="text-font">OUR MISSION STATEMENT</p>
                <p class="text-font">Shutter Fever Photography is a professional, full service photography studio based in Charlestown, Co Mayo.
                    We thrive on creating beautiful visual imagery – whether for a wedding couple, commercial brand or photograph for the walls of a family home, we are constantly driven to create the next amazing image to delight our clients.
                    A family run Mayo business, we have a keen appreciation for what photography is all about. Our work is constantly evolving, but that timeless significance of quality photography is not lost – capturing memories, one click at a time.
                </p>
            </div>
        </div>
    <!-- </div> -->
</div>
{%endblock%}