{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Photo Studio</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
<style>
  
</style>
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand text-font" style="color:white;">C<span class="red-o text-font">o</span>mp<span class="pink-a text-font">a</span>ny<span
                        class="thin text-font">logo</span></span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %} butn text-font" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/gallery/' %}active{% endif %} butn text-font" aria-current="page" href="{% url 'gallery' %}">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/pricing/' %}active{% endif %} butn text-font" aria-current="page" href="{% url 'pricing' %}">Pricing</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contact/' %}active{% endif %} butn text-font" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %} butn text-font" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/account_logout/' %}active{% endif %} butn text-font" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/account_signup/' %}active{% endif %} butn text-font" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/account_login/' %}active{% endif %} butn text-font" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->

        {% endblock content %}
    </main>

    <!-- Footer -->
    <section style="background-color: #f8f9fa;">test</section>
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3 class="text-font" style="color:white;"><span class="text-font">C<span class="red-o text-font">o</span>mp<span class="pink-a text-font">a</span>ny<span class="thin text-font">logo</span></span></h3>



            
            <p class="footer-links">
                <a href="{% url 'home' %}" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="{% url 'pricing' %}">Pricing</a>
            
                <a href="{% url 'about' %}">About</a>
                
                <a href="#">Faq</a>
                
                <a href="{% url 'contact' %}">Contact</a>
            </p>

            <p class="footer-company-name">
                Copyright &copy; 2014<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Company Name. All rights reserved.</p>
        </div>

        <div class="footer-center">

            <div>
                <a>
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <a href="https://goo.gl/maps/taq2R6KVoNtFX13A7" target="_blank"><p><span>Tralee, Kerry College, Monavally,</span> Co. Kerry, Ireland, V92 PW50</p></a>
            </div>

            <div>
                <a>
                    <a>
                        <i aria-hidden="true" class="fas fa-phone-alt"></i>
                    </a>
            <a class="thin" href="tel:+3530667149600">(066)-714-9600</a>
                </a>
            </div>

            <div>
                <a>
                    <i class="fa fa-envelope"></i>
                </a>
                <a class="thin" href="mailto:sergiykochenko@gmail.com">support@company.com</a>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sergiy-kochenko-a93a30135/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/SergiyKochenko/portfolio-p4" target="_blank"><i class="fab fa-github"></i></a>

            </div>

        </div>

    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
</body>

</html>