{% extends 'base.html' %}

{% load static %}

{% block content %}

<html>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <div id="background"  width="100%" height="auto">
        <div class="text-center">
            <h2 class="elementor text-font button-wrapper" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:2300}" data-widget_type="heading.default">Get In Touch</h2>
            <p class="elementor text-font button-wrapper">Let’s Talk About Your Shoot Today</p>
            <a class="button-wrapper" href="{%url 'booknow' %}" >
            <span>
            <button type="button" class="orange text-font btn btn-outline-warning">Book Now</button>
            </span>
            </a>
            <div class="elementor  button-wrapper">
                <div class="elementor-widget-container">
                    <h2 class="elementor text-font button-wrapper">Capturing Memories One Click at a Time with sharks and crocodiles</h2>
                </div>
            </div>
        
        <div>
            <div>
                <a>
                <i class="fas fa-map-marker-alt"></i>
                </a>
                <a href="https://goo.gl/maps/taq2R6KVoNtFX13A7" target="_blank">
                    <p class="text-font text-white"><span class="text-font text-white">Tralee, Kerry College, Monavally,</span> Co. Kerry, Ireland, V92 PW50</p>
                </a>
            </div>
            <div>
                <a>
                <a>
                <i aria-hidden="true" class="fas fa-phone-alt"></i>
                </a>
                <a class="thin text-font" href="tel:+3530667149600">(066)-714-9600</a>
                </a>
            </div>
            <div>
                <a>
                <i class="fa fa-envelope"></i>
                </a>
                <a class="thin text-font" href="mailto:sergiykochenko@gmail.com">support@company.com</a>
            </div>
        </div>
    </div>
    </div>
</html>

{%endblock%}