{% extends 'base.html' %}

{% load static %}

{% block content %}

<html>
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

<div id="background"  width="100%" height="auto">
<div>

<h2 class="elementor text-font button-wrapper" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:2300}" data-widget_type="heading.default">Get In Touch</h2>

<p class="elementor text-font button-wrapper">Let’s Talk About Your Shoot Today</p>
<a class="button-wrapper" href="{%url 'booknow' %}" >
<span>
	<button type="button" class="btn btn-primary btn-lg">Book Now</button>
</span>
</a>

<div class="elementor  button-wrapper">
	<div class="elementor-widget-container">
<h2 class="elementor text-font button-wrapper">Capturing Memories One Click at a Time</h2></div>
	</div>

</div>
</div>

</html>

{%endblock%}