{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/pricing.css' %}">
<div id="background">
<table class="table table-hover table-dark booknow-contain">
    <thead class="text-warning">
      <tr>
        <th class="text-font" scope="col">#</th>
        <th class="text-font" scope="col">Service</th>
        <th class="text-font" scope="col">Price</th>
        <th class="text-font" scope="col">Create</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-font" scope="row">1</th>
        <td class="text-font">Terrarium</td>
        <td class="text-font">€10</td>
        <td><a href="{%url 'booknow' %}" class="orange text-font btn btn-outline-warning">Book</a></td>
      </tr>
      <tr>
        <th class="text-font" scope="row">2</th>
        <td class="text-font">Photoshoot with sharks and crocodiles</td>
        <td class="text-font">€10</td>
        <td><a href="{%url 'booknow' %}" class="orange text-font btn btn-outline-warning">Book</a></td>
      </tr>
      <tr>
        <th class="text-font" scope="row">3</th>
        <td class="text-font">Aquarium exibition room</td>
        <td class="text-font">€10</td>
        <td><a href="{%url 'booknow' %}" class="orange text-font btn btn-outline-warning">Book</a></td>
      </tr>
      <tr>
        <th class="text-font" scope="row">4</th>
        <td class="text-font">Children's playroom</td>
        <td class="text-font">€0</td>
        <td><a href="{%url 'booknow' %}" class="orange text-font btn btn-outline-warning">Book</a></td>
      </tr>
    </tbody>
  </table>
</div>
{%endblock%}