{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    }
    .container img {
    width: 100%;
    height: 400px;
    }
    .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f16e;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: solid 2px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    }
    .container .btn:hover {
    background-color: black;
    color: white;
    }
    #background {
    padding: 10em 0;
    margin-bottom: 0;
    background: url('https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678625438/DSC_0992_fzukfv.jpg') center center / cover no-repeat;
    }
</style>
<div class="container" id="background">
    <a class="button-wrapper col-md-4" href="{% url 'create-post' %}" >
    <span>
    <button type="button" class="btn btn-success text-font btn-custom">Create Post</button>
    </span>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dvbhrs1gf/image/upload/v1678623520/fek3aywqly9x00aasjrd.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title text-font">{{ post.title }}</h2>
                                <p class="card-text text-font">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6 text-font">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}
                            </p>
                            <div>
                                {% if post.author == request.user %}
                                <a href="{% url 'blog-edit' post.slug %}"><button type="button" class="btn btn-outline-primary text-font">Edit Post</button></a>
                                <a href="{% url 'blog-delete' post.slug %}"><button type="button" class="btn btn-outline-danger text-font">Delete Post</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}